<%= form_for(current_user.comments.build, remote: true) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Add a comment..." %>
  </div>
  <%= f.hidden_field :commentable_id, value: post.id %>
  <%= f.hidden_field :commentable_type, value: "Post" %>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>