<% provide(:title, @user.username) %>
<% provide(:add_like_text, 'Like Post') %>
<% provide(:delete_like_text, 'Unlike Post') %>

<h1><%= @user.username %></h1>
<!--<%= gravatar_for @user %>-->
<%= image_tag @user.avatar.url %>
<p>E-mail: <%= @user.email %></p>
<p>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></p>

<br>

<%= will_paginate @posts %>

<ul class="posts">
  <%= render @posts %>
</ul>

<%= will_paginate @posts %>
