<% provide(:title, 'Your Timeline') %>
<% provide(:add_like_text, 'Like Post') %>
<% provide(:delete_like_text, 'Unlike Post') %>

<h1>Welcome, <%= current_user.username  %>!</h1>

<%= render 'post_form'  %><br/ >

<h3>Post a Picture</h3>
<%= render 'picture_form'  %>

<%= will_paginate %>

<ul class="posts">
  <%= render 'posts' %>
</ul>

<%= will_paginate %>
