<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "OFB", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in?  %>
          <% if current_user.has_pending_requests? %>
            <li><%= link_to "NEW FRIENDS!", pending_path %></li>
          <% end %>
        <li><%= link_to "Home", posts_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "All Users", users_path %></li>
              <li><%= link_to "My Profile", current_user %></li>
              <li><%= link_to "My Timeline", posts_path %></li>
              <li><%= link_to "Settings", edit_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>  
      </ul>
    <% end %>  
    </nav>
  </div>
</header>